<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket League Cards - Register</title>
    <script src="./js/register.js" defer></script>
</head>

<body>
    <form id="registerForm" class="flexBox">
        <label for="username">Username</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"><br>
        <input id="submit" type="submit" value="Register">
    </form>
    <p id="errorField"></p>
</body>

</html>